# Python stuff
*.pyc
*.pyo

# General stuff
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64


## LaTex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


# minted
_minted*
*.pyg

# Jupyter
.ipynb_checkpoints

# Python app
*.idea
/docs/template
__pycache__

# cursed files for git lfs

./pokemon-classifier/src/nuovomobilenetv2
./pokemon-classifier/src/nuovoresnet152
./pokemon-classifier/src/nuovoresnet152.tflite
